body {
    min-width: 600px;
    padding-top: 50px;
}

nav {
    min-width: 600px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
}

.brand {
    font-size: 1.5em;
    margin-top: 10px;
    color: white;
}

.tel {
    float: right;
    font-size: 1.5em;
    margin-top: 10px;
    color: white;
}

.promo {
    background: #262424 url("../images/header_bg.jpg") center no-repeat;
}

.promo-header {
    color: white;
    margin-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

.promo-panel {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.promo-panel .panel-body {
    text-align: center;
}

.promo-panel-inputs {
    line-height: 2em;
}

.promo-panel-inputs input {
    text-transform: uppercase;
    height: 50px;
    margin-bottom: 20px;
}

.order {
    height: 550px;
    background: red;
}

.labels {

}

.feedback {
    height: 550px;
    background: cyan;
}

.contacts {
    height: 550px;
    background: violet;
}

.footer .navbar {
    margin: 0;
    border-radius: 0;
}

.even {
    background: #bcbcbc;
}

.odd {
    background: #ffffff;
}
