{% extends 'base.html' %}
{% block title %}OCRDocAdd{% endblock %}
{% block content %}
<div class="col-md-10 col-md-offset-2 main">
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ category }}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
</div>
{% endfor %}
<h1 class="page-header">Add new doc</h1>
    <form class=add-entry action="{{ url_for('ocrdocs_add') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file"><br /><br />
            <input type="submit" value="Upload">
        </div>
    </form>
</div>
{% endblock %}